# Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_db_password

# Message Broker Credentials
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=your_secure_rmq_password

# Security
# This should be a strong, randomly generated base64 or hex string
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
